<html th:replace="~{base :: layout (~{:: main})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<main>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Senha</th>
            <th>Funcional</th>
            <th>Empresa</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${funcionarios.empty}">
            <td colspan="2"> Sem funcionario cadastrados</td>
        </tr>
        <tr th:each="funcionario : ${funcionarios}">
            <td><span th:text="${funcionario.id}"> </span></td>
            <td><span th:text="${funcionario.nome}"> </span></td>
            <td><span th:text="${funcionario.email}"> </span></td>
            <td><span th:text="${funcionario.cargo}"> </span></td>
            <td><span th:text="${funcionario.senha}"> </span></td>
            <td><span th:text="${funcionario.funcional}"> </span></td>
            <td><span th:text="${funcionario.nomeEmpresa}"> </span></td>
            <td><a th:href="@{/cadastra-funcionario/{id}(id=${funcionario.id})}">Editar</a></td>
            <td><a th:href="@{/deleta-funcionario/{id}(id=${funcionario.id})}">Deletar</a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/cadastra-funcionario">ADD</a></p>
</main>
</body>
</html>
