<html th:replace="~{base :: layout (~{:: main})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<main>
    <table class="table">
        <thead>
        <tr>
            <th> ID</th>
            <th> Nome</th>
            <th> CNPJ</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${empresas.empty}">
            <td colspan="2"> Sem empresas cadastradas</td>
        </tr>
        <tr th:each="empresa : ${empresas}">
            <td><span th:text="${empresa.id}"> </span></td>
            <td><span th:text="${empresa.nome}"> </span></td>
            <td><span th:text="${empresa.cnpj}"> </span></td>
            <td><a th:href="@{/edit/{id}(id=${empresa.id})}">Editar</a></td>
            <td><a th:href="@{/deleta-empresa/{id}(id=${empresa.id})}">Deletar</a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/cadastra-empresa">ADD</a></p>
</main>
</body>
</html>
