<html th:replace="~{base :: layout (~{:: main})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<main>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Dificuldade</th>
            <th>Status</th>
            <th>Empresa</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${metas.empty}">
            <td colspan="2"> Sem metas cadastrados</td>
        </tr>
        <tr th:each="m : ${metas}">
            <td><span th:text="${m.id}"> </span></td>
            <td><span th:text="${m.descricao}"> </span></td>
            <td><span th:text="${m.data}"> </span></td>
            <td><span th:text="${m.dificuldade}"> </span></td>
            <td><span th:text="${m.status}"> </span></td>
            <td><span> </span></td>
            <td><a th:href="@{/edit/{id}(id=${m.id})}">Editar</a></td>
            <td><a th:href="@{/deleta-meta/{id}(id=${m.id})}">Deletar</a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/cadastra-meta">ADD</a></p>
</main>
</body>
</html>
